/* Centered Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  /* Form Container */
  .loginForm {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    transition: all 0.3s ease-in-out;

  }
  
  .title {
    text-align: center;
  }
  
  .errorMessage {
    color: red;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    margin-bottom: 10 px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .button:hover {
    transform: translate(0, -5%);
  }
  
  .loginForm:hover {
    translate: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .table:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3) ;
    translate: scale(1.1);
  }
  .table {
    background-color:rgba(96, 153, 102, 0.8);
  }
  th {
    background-color: white;
  }
  input:hover{
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);

  }

  .pageTitle {
    color: blue;
  }
  .formButton{
    background-color: #4CAF50;
  }
  